<div class="container" style="margin-top: 50px;">
    <form [formGroup]="addmissionFormGroup">
        <div class="form-group">
            <h2>New Student's Admission Form</h2>
        </div>
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control col-md-4" placeholder="Enter your full name" formControlName="studentName" autofocus>
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.studentName.invalid && addmissionFormGroup.controls.studentName.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Gender</label><br>
            <input type="radio" id="male" formControlName="gender" value="male">
            <label for="male">Male</label>&nbsp;
            <input type="radio" id="female" formControlName="gender" value="female">
            <label for="female">Female</label>&nbsp;
            <input type="radio" id="other" formControlName="gender" value="other">
            <label for="other">Other</label>
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.gender.invalid && addmissionFormGroup.controls.gender.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Birth Date</label>
            <input type="date" class="form-control col-md-4" placeholder="Enter your birth date" formControlName="birthDate">
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.birthDate.invalid && addmissionFormGroup.controls.birthDate.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Blood Group</label>
            <select class="form-control col-md-4" formControlName="bloodGroup">
                <option disabled="" selected="">Please select the blood group</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>O+</option>
                <option>O-</option>
                <option>AB+</option>
                <option>AB-</option>
            </select>
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.bloodGroup.invalid && addmissionFormGroup.controls.bloodGroup.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Height</label>
            <input type="text" class="form-control col-md-4" placeholder="Enter your height" formControlName="height">
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.height.invalid && addmissionFormGroup.controls.height.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="number" class="form-control col-md-4" placeholder="Enter your weight" formControlName="weight">
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.weight.invalid && addmissionFormGroup.controls.weight.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <label>Standard</label>
            <select class="form-control col-md-4" formControlName="standard">
                <option disabled="" selected="">Please select the standard</option>
                <option>Nursery</option>
                <option>Junior KG</option>
                <option>Senior KG</option>
            </select>
            <span class="text-danger" *ngIf="addmissionFormGroup.controls.standard.invalid && addmissionFormGroup.controls.standard.touched">This Field is Required</span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!addmissionFormGroup.valid">
        </div>
        <div>
            Not a new student of this school?<a routerLink="/oldstudent">Old Student Form</a>
        </div>
    </form>
</div>

